NEXT_PUBLIC_APP_URL=https://medisync-os.vercel.app
COGNITO_DOMAIN=https://ap-south-1ws7ac0bpw.auth.ap-south-1.amazoncognito.com
COGNITO_CLIENT_ID=go1pem466ukrqg1v8cbu6dqj2
COGNITO_CLIENT_SECRET=replace-with-your-cognito-app-client-secret
MEDISYNC_SESSION_SECRET=replace-with-a-long-random-secret
MEDISYNC_WEBHOOK_SECRET=replace-with-your-webhook-secret
AWS_REGION=ap-south-1
DYNAMODB_TABLE_NAME=MediSyncRequests
AWS_ACCESS_KEY_ID=replace-with-your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=replace-with-your-aws-secret-access-key
